.button {
    --primary: #4263EB;
    --primary-hover: #2342C0;
    --secondary: #7048E8;
    --secondary-hover: #5028C6;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    border: none;
    border-radius: 8px;
    color: var(--white);
    width: 189px;
    height: 48px;
    margin: 10px;
    cursor: pointer;
}
.button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}
.button_primary {
    background-color: var(--primary);
}
.button_primary:hover:not(:disabled) {
    background-color: var(--primary-hover);
    transition: background 200ms ease-in-out;
}
.button_secondary {
    background-color: var(--secondary);
}
.button_secondary:hover:not(:disabled) {
    background-color: var(--secondary-hover);
    transition: background 200ms ease-in-out;
}
.button_alternate {
    color: var(--grey-4);
    background-color: var(--white);
    border: 1px solid var(--grey-3);
}
.button_alternate:hover:not(:disabled) {
    border: 1px solid var(--black);
    transition: border 200ms ease-in-out;
}
.button_alternate:disabled {
    opacity: 0.3;
}