.template {
    display: grid;
    grid-template-rows: auto 1fr auto;
    height: 100vh;
    background-color: var(--grey-5);
}
.template__main {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-gap: 56px;
    padding-top: 60px;
    height: 100%;
}
.template__footer {
    padding: 56px 0;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: var(--grey-3);
}